<div fxLayout="row wrap" fxLayout.lt-sm="column">
  <mat-card *ngFor="let pedal of pedais" class="card-pedal" fxFlex="30%">
    <mat-card-header>
      <mat-card-title>{{pedal.modelo}}</mat-card-title>
      <mat-card-subtitle>Marca: {{pedal.marca}} <br> Preço (US$): {{pedal.preco}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> Descrição: {{pedal.descricao}} </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button><mat-icon>thumb_up</mat-icon></button>
      <button mat-icon-button (click)="deletar(pedal)"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>

