<!--<h1>{{title}}</h1>-->
<!--<br>-->
<h1><app-menu></app-menu></h1>
<br>
<div>
  <mat-card>
  <mat-card-header>
    <mat-card-title>Cadastro de pedais</mat-card-title>
  </mat-card-header>
  <mat-form-field appearance="fill">
    <mat-label>Modelo</mat-label>
    <input matInput [(ngModel)]="pedal.modelo" placeholder="digite o modelo">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Marca</mat-label>
    <input matInput [(ngModel)]="pedal.marca" placeholder="digite a marca">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Preço</mat-label>
    <input matInput [(ngModel)]="pedal.preco" placeholder="digite o preço">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descrição</mat-label>
    <input matInput [(ngModel)]="pedal.descricao" placeholder="descrição do produto">
  </mat-form-field>

  <button mat-raised-button mat-icon-button color="primary" (click)="inserirPedal()">
    <mat-icon>add</mat-icon>
  </button>

</mat-card>

<mat-card *ngFor="let pedal of pedais" class="card-pedal">
  <mat-card-header>
    <mat-card-title>{{pedal.modelo}}</mat-card-title>
    <mat-card-subtitle>Marca: {{pedal.marca}} <br> Preço {{pedal.preco}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> Descrição: {{pedal.descricao}} </mat-card-content>
</mat-card>
</div>

<br>

<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cadastro de guitarras</mat-card-title>
    </mat-card-header>
    <mat-form-field appearance="fill">
      <mat-label>Modelo</mat-label>
      <input matInput [(ngModel)]="guitarra.modelo" placeholder="digite o modelo">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Marca</mat-label>
      <input matInput [(ngModel)]="guitarra.marca" placeholder="digite a marca">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Preço</mat-label>
      <input matInput [(ngModel)]="guitarra.preco" placeholder="digite o preço">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <input matInput [(ngModel)]="guitarra.descricao" placeholder="descrição do produto">
    </mat-form-field>

    <button mat-raised-button mat-icon-button color="primary" (click)="inserirGuitarra()">
      <mat-icon>add</mat-icon>
    </button>

  </mat-card>

  <mat-card *ngFor="let guitarra of guitarras" class="card-guitarra">
    <mat-card-header>
      <mat-card-title>{{guitarra.modelo}}</mat-card-title>
      <mat-card-subtitle>Marca: {{guitarra.marca}} <br> Preço {{guitarra.preco}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> Descrição: {{guitarra.descricao}} </mat-card-content>
  </mat-card>
</div>
