.card-pedal{
  max-width: 500px;
  background-color: lightskyblue;
  margin-top: 10px;
  margin-left: 10px;
}

.card-guitarra{
  max-width: 500px;
  background-color: lightslategray;
  margin-top: 10px;
  margin-left: 10px;
}
