<div class="menu-background">
  <button mat-button class="botaoMenu" [matMenuTriggerFor]="menu">Menu</button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="Pedais">Pedais</button>
    <button mat-menu-item [matMenuTriggerFor]="Guitarras">Guitarras</button>
  </mat-menu>

  <mat-menu #Pedais="matMenu">
    <button mat-menu-item [routerLink]="['/cadastrarpedal']">Cadastrar pedais</button>
    <button mat-menu-item [routerLink]="['/listarpedais']">Listar pedais</button>
  </mat-menu>

  <mat-menu #Guitarras="matMenu">
    <button mat-menu-item [routerLink]="['/cadastrarguitarra']">Cadastrar guitarras</button>
    <button mat-menu-item [routerLink]="['/listarguitarras']">Listar guitarras</button>
  </mat-menu>
</div>


