<div fxLayout="row wrap" fxLayout.lt-sm="column">
  <mat-card *ngFor="let guitarra of guitarras" class="card-guitarra" fxFlex="30%">
    <mat-card-header>
      <mat-card-title>{{guitarra.modelo}}</mat-card-title>
      <mat-card-subtitle>Marca: {{guitarra.marca}} <br> Preço (US$): {{guitarra.preco}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> Descrição: {{guitarra.descricao}} </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="editar(guitarra)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="remover(guitarra)"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
